@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Docker</h2>
        <ul>
            <li>Serversncode docker demo application</li>
            <li>Using Docker to deploy a .net core application</li>
            <li>This is a just a sample application to help me figure it all out.</li>
        </ul>
    </div>
</div>
